.container{
  height:100vh;
  width:100%;
  padding:30px;
  display:flex;
  align-items:center;
  justify-content:center;
}
.form{
  background-color:#8a4752 ;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  row-gap: 15px;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  color: #fff;
}
.form h1{
  font-size: 30px;
  color: #fff;
}
.inp{
  width: 100%;
  height: 30px;
  border-radius: 5px;
  text-indent: 10px;
  outline: none;
  border: 1px solid #8a4752;
 
}
.btn{
  padding: 10px 20px;
  border-radius: 10px;
  width: fit-content;
  background-color: #fafafa;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  border:1px solid;
  border:1px solid #8a4752;
}
.btn:hover{
  background-color: #6c2c36;
  color: #fff;
}
a{
  color: #566bf0;
  text-decoration: underline;
}
.success{
  color:rgb(55, 195, 55);
  opacity: 1;
}
.error{
  color: #ff0505;
  opacity: 1;
}

.invisible-msg{
  opacity: 0;

}
  .search{
    width: 100%;
    padding: 10px 0;
    border-radius: 10px;
  }
  .track-container{
    align-items : flex-start;
  }
  .search-inp{
    width: 100%;
    height: 40px;
    text-indent: 10px;
    outline: none;
    border-radius: 10px;
    border: 1px solid;
    color: rgb(179, 177, 177);
  align-items: center;

  }